{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="post" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter username">

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password">

        <input type="submit" value="Login">
    </form>
    <p>Don't have an account yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}
<div>
    <form method="post" action="">
        {% csrf_token %} 
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
    <p>Already have an account?</p>
    <a href="{% url 'login' %}">Log in</a>
</div>
{% endif %}
{% endblock content %}