{% extends "main.html" %}

{% block content %}

<style>
    .room-container{
        display:grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">
    <div>
        <h1>{{room.name}}</h1>

        <p>{{room.description}}</p>

        <div class="comment-wrapper">
            <h3>Conversation</h3>
            {% for message in room_messages %}
                <div>
                    {% if request.user == message.user %}
                    <a href="{% url 'delete-message' message.id %}">Delete</a>
                    {% endif %}
                    
                    <small>{{ message.user }}   {{ message.created|timesince }} ago</small>
                    <p>{{ message.body }}</p>
                    <hr>

                </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message here">
            </form>
        </div>
        {% endif %}
    </div>
    <div>
        <h3>Participants</h3>
        <hr>
        {% for participant in participants %}
        <div>
            <p>@{{participant.username}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}