{% extends 'main.html' %}

{% block content %}

<div>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" Value="Submit">
    </form>
</div>
{% endblock content %}
